.modal.hide.fade

  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h3 Login

  .modal-body
    %p You will need to login with Facbook or Twitter.
    =render 'sessions/form'

  / .modal-footer
  /   %a.btn{:href => "#"} Close
  /   %a.btn.btn-primary{:href => "#"} Save changes

