.modal.hide.fade

  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h2 Login

  .modal-body
    .login-section

      %p.small Enter your name and email address below to continue.
      =render 'users/form'

    .login-section.divider
      %h2 OR

    .login-section.social
      =link_to "/auth/facebook" do
        %i.icon-facebook-sign.icon-2x
        Sign in with Facebook

    .login-section.social
      =link_to "/auth/twitter" do
        %i.icon-twitter-sign.icon-2x
        Sign in with Twitter
