.modal.hide.fade

  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h3 Login

  .modal-body
    .login-section

      %p Enter your name and email address below to continue.
      %p
        =render 'users/form'

    %hr

    .login-section

      =link_to "/auth/facebook" do
        %button.small
          %i.icon-facebook-sign.icon-2x
          Sign in with Facebook

      =link_to "/auth/twitter" do
        %button.small
          %i.icon-twitter-sign.icon-2x
          Sign in with Twitter

