!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      New Message
    %p
      You have a message form #{@user.full_name}.
      %br/
    %p

      -binding.pry

      =@contribution.notes
