= form_for @user, remote: true, :url => user_path(@user), method: :post do |f|

  .field
    =f.text_field :first, placeholder: 'First'
    =f.text_field :last,  placeholder: 'Last'
  .field
    =f.text_field :email, placeholder: 'Email'
  .actions
    =f.submit 'Continue', class: 'small button'