-@contributions.each do |contribution|

  =content_tag :h5 do
    =contribution.attr_for_user(:full_name)
    =contribution.attr_for_user(:email)
    =contribution.attr_for_user(:provider)



  %table.table.table-striped
    %thead
      %tr
        %th Quantity
        %th Item Cost
        %th Item Total
        %th User

    %tbody
    -contribution.items.each do |item|
      %tr
        %td=item.quantity.to_s
        %td=number_to_currency item.gift.portion_size
        %td=number_to_currency(item.quantity * item.gift.portion_size)
        %td=item.contribution.attr_for_user(:full_name)

