%h1 Accommodations
%p
  We have reserved rooms the nights of September 6th and 7th at the following hotels:


%h2 Near the Aquatorium
%p
  Radisson Hotel at Star Plaza
  %br
  800 E. 81st Avenue, Merrillville, IN 46410
  %br
  By phone: call 1-800-333-3333 and ask for the Fitzpatrick/Szymczak hotel block.
  %br
  Online: Go to www.starplaza.com and enter FTZ into the promo code box when you check out.


%h2 In Chicago:
%p
  Palmer House Hilton
  %br
  17 E. Monroe Street, Chicago, IL 60603
  %br
  By phone: 312-726-7500
  %br
  Ask for the Fitzpatrick/Szymczak Wedding


%h2 Vacation Rentals
%p
  If you're thinking about using
  =link_to 'VRBO.com', 'http://vrbo.com'
  or
  =link_to 'airbnb.com', 'http://airbnb.com'
  , in Chicago look at the neighborhoods river north, magnificent mile, old town, lincoln park and the loop. In Indiana, look at Miller Beach.

