%h1 Accommodations
%p
  We have reserved rooms the nights of September 6th and 7th at the following hotels:


%h2 Near the Aquatorium
%p
  Radisson Hotel at Star Plaza
  %br
  800 E. 81st Avenue, Merrillville, IN 46410
%p
  By phone: call 1-800-333-3333 and ask for the Fitzpatrick/Szymczak hotel block.
%p
  Online: Go to www.starplaza.com and enter FTZ into the promo code box when you check out.


%h2 In Chicago:
%p
  Coming soon.

