%h1 Accommodations
%p
  We have reserved rooms the nights of September 6th and 7th at the following hotels:


%h2 Near the Aquatorium
%p

  =link_to 'http://www.radisson.com/merrillville-hotel-in-46410/merrillv', target: "_blank" do
    Radisson Hotel at Star Plaza
  %br
  800 E. 81st Avenue, Merrillville, IN 46410
  %br
  By phone: call 1-800-333-3333 and ask for the Fitzpatrick/Szymczak hotel block.
  %br
  Online: Go to www.starplaza.com and enter FTZ into the promo code box when you check out.





%h2 In Chicago:
%p
  =link_to 'http://www3.hilton.com/en/hotels/illinois/palmer-house-a-hilton-hotel-CHIPHHH/index.html', target: "_blank" do
    Palmer House Hilton

  %br
  17 E. Monroe Street, Chicago, IL 60603
  %br
  =link_to 'Book online', 'https://resweb.passkey.com/go/FitzpatrickSzymczakWedding2013'

  %br
  By phone please call 877-865-5321 and request group code FSW



%h2 Vacation Rentals
%p
  If you're thinking about using
  =link_to 'VRBO.com', 'http://vrbo.com', target: "_blank"
  or
  =link_to 'airbnb.com', 'http://airbnb.com', target: "_blank"
  , in Chicago look at the neighborhoods River North, Magnificent Mile, Old Town, Lincoln Park and the Loop. In Indiana, look at Miller Beach.

