%h1 Ceremony & Reception

%p
  Both the ceremony and reception will take place at the Chanute Aquatorium on Miller Beach near Gary Indiana.

%p

  September 7th, 2013
  %br
  5:30pm

%p
  =link_to '6918 Oak Avenue', 'https://maps.google.com/?q=6918+Oak+Ave,+Gary,+IN,+46403'
  %br
  =link_to 'Gary, Indiana 46403', 'https://maps.google.com/?q=6918+Oak+Ave,+Gary,+IN,+46403'



%p

.aquatorium
  =image_tag 'aquatorium.jpg'

%hr


%h2
  What is the Aquatorium?

%p
  The Aquatorium is a glorious Neoclassical building designed by George Washington Maher in 1921 as the bathhouse for Miller Beach. It is on the National Park Service's National Register of Historic Places. It has both outdoor space and covered open-air areas. For years after it was built it was a focal point of Miller, drawing visitors from all over the region and Illinois on the hot days of summer. It ceased to function in 1970 and fell into disrepair. Thanks to the efforts of the Chanute Aquatorium Society, it has been now been preserved for future generations.

%p
  The Aquatorium is also the memorial to Octave Chanute who flew the world's first aeronautically designed glider from a dune just west of the building in 1896, and the Tuskegee Airmen whose heroics in World War II led to the racial integration of the armed forces.

%p
  You can support the Aquatorium
  = link_to 'here', 'http://aquatorium.org/support.html', target: "_blank"
