%h1 Directions

%p
  =link_to '6918 Oak Avenue', 'https://maps.google.com/?q=6918+Oak+Ave,+Gary,+IN,+46403'
  %br
  =link_to 'Gary, Indiana 46403', 'https://maps.google.com/?q=6918+Oak+Ave,+Gary,+IN,+46403'

  %br
  Click on link above to generate turn by turn directions from your location.

/ -unless Date.today < Date.new(2013,7,6) && Rails.env.production?
/   %h2 From Chicago
/   %p
/     For those staying in Chicago, a bus will depart from the Palmer House Hilton, 17 East Monroe Street, Chicago, 60603, at 4:15 PM on Saturday to take you to the Aquatorium. The bus will return to the Palmer House at the end of the reception (leaving the venue at approximately 12:00 AM). If you are not staying at the Palmer House, it will be easy to take taxis between the Palmer House and other locations in Chicago.

#gmap.google-maps

:javascript
  $(document).ready(function(){
    var map = new GMaps({
      div: '#gmap',
      lat: 41.619557,
      lng: -87.257334,
      zoom: 9
    });

  map.addMarker({
    lat: 41.619557,
    lng: -87.257334,
    title: 'Aquatorium'
  });

  });

