%h1 Directions

%p
  =link_to '6918 Oak Avenue', 'https://maps.google.com/?q=6918+Oak+Ave,+Gary,+IN,+46403'
  %br
  =link_to 'Gary, Indiana 46403', 'https://maps.google.com/?q=6918+Oak+Ave,+Gary,+IN,+46403'

#gmap.google-maps

:javascript
  $(document).ready(function(){
    var map = new GMaps({
      div: '#gmap',
      lat: 41.619557,
      lng: -87.257334,
      zoom: 9
    });

  map.addMarker({
    lat: 41.619557,
    lng: -87.257334,
    title: 'Aquatorium'
  });

  });

