%h2 What should we wear?

%p
  Summery picnic attire! Throw on your favorite sundress or linen overalls (do those exist?) and bust a move to the Aquatorium...

%h2 Should we bring our kids to the wedding?

%p
  That's up to you. Kids are welcome. If there are enough people who need babysitters we can try to figure out a common solution. Just let us know!

/ %h2 How can we contact you?

/ %p
/ Leslie:  248 (nine one four) 8720, LBFitzpatrick@gmail.com
/ %br Tatum: 219 (three seven eight) 0830, tatum@ashlandstudios.com


/ /Leslie: (two four eight) (nine one four) 914 8720, LBFitzpatrick@gmail.com
/ /%br Tatum: (two one nine) (three seven eight) 378 0830, tatum@ashlandstudios.com