%h2 What should we wear?
%p
  Summery picnic attire! Throw on your favorite sundress or linen overalls (do those exist?) and bust a move to the Aquatorium...

%h2 Should we bring our kids to the wedding?
%p
  That's up to you. Kids are welcome. If there are enough people who need babysitters we can try to figure out a common solution. Just let us know!

%h2
  How far is the Aquatorium from Chicago?
%p
  It is just under an hour from Chicago.


%h2 How's the Weather?
%p
  The temperature could be anywhere from the high 50s in the evening to the low 80s during the day and the wedding and reception will be on the lake which makes it a bit cooler... Watch the
  = link_to 'weather forecast for 46403', 'http://www.weather.com/weather/today/Gary+IN+46403:4:US', target: "_blank"
  and perhaps bring a sweater!
