%h2 What should we wear?

%p
  Summery picnic attire! Throw on your favorite sundress or linen overalls (do those exist?) and bust a move to the Aquatorium...

%h2 Should we bring our kids to the wedding?

%p
  That's up to you. Kids are welcome. If there are enough people who need babysitters we can try to figure out a common solution. Just let us know!

%h2
  How far is the Aquatorium from Chicago?
%p
  It is just under an hour from Chicago.

