%h1 Our Story

= image_tag 'tatum_and_leslie_story.jpg', class: 'wrap fancy'
%p
  Tatum and Leslie met thanks to a simple twist of fate or two. After a Saturday night dinner with his sister Sumer and her husband Eric, Tatum retired to the Shady Lady bar (it's as classy as it sounds) in the River North neighborhood of Chicago.
%p

  Meanwhile, at a nearby apartment building, Leslie and her dear friends Erica & Randy were leaving a lovely graduation party. The night was young so they found their way to a little gin joint called the Shady Lady, where neither of them had been before. They had missed the closing of a fairly swanky rooftop bar by about five minutes so they were hoping the Shady Lady wouldn't disappoint...

%p
  Their dogs were barking so Erica and Leslie made a beeline for ONLY available seat in the whole bar. When one Tatum Szymczak returned from the baño, he found two women had taken over his barstool.

%p
  Tatum and Leslie bonded over stories of their beloved niece and nephews, Bob Dylan and It's Always Sunny in Philadelphia.

%p
  And the rest is history...