%h1 Parners in Crime

%p
  There are a couple of couples here in Chicago who deserve special mention for going ABOVE AND BEYOND in helping us with our planning.

%p
  "I'll pickle anything. If you want anything for your wedding, I. WILL. PICKLE. IT."

%p
  "That dress is not flattering. I said it."

%p
  "So lemme get this straight. I'm either not invited to the ceremony or I'm performing it?"

%p
  Erica, Randy, Mican and Chris, this Bud's for you.

= image_tag 'the_gang.jpg'

%p
  Mican, Chris, Tatum, Leslie, Rosie, Jennifer, Randy, Erica