%h1 Parners in Crime

%p
  There are a couple of couples here in Chicago who deserve special mention for going above and beyond in helping us with our planning.

%p.muted
  %em
    "I'll pickle anything. If you want anything for your wedding, I. WILL. PICKLE. IT."

%p.muted
  %em
    "That dress is not flattering. I said it."

%p.muted
  %em
    "So lemme get this straight. I'm either not invited to the ceremony or I'm performing it?"


= image_tag 'the_gang.jpg', class: :fancy

%p
  Mican, Chris, Tatum, Leslie, Rosie, Jennifer, Randy, Erica