- placeholder = "http://placehold.it/215x155"

%h1 Wedding Party and Family


.bio-row
  .bio
    =image_tag 'jen_and_linus.jpg', class: :fancy
    %p
      Our Matron of Honor, Jennifer. Leslie's sister! The one and only! Animal lover and uber creative supermom. With trusted companion and destroyer of couches, Linus.

  .bio
    =image_tag 'nate_and_kristin.jpg', class: :fancy
    %p
      Our Best Man, Nate. Tatum's brother! One of the nicest, funniest people you will ever meet. Really. We're not sure how he does it. And he can get you a toe. By 3 o'clock. With nail polish.

  .bio
    =image_tag 'sumer2.jpg', class: :fancy
    %p
      Our lovely Reader for the ceremony, Tatum's sister Sumer! She's unceasingly generous, always there for family, and is an athlete, mom, and cook extrordinnaire.

.bio-row
  .bio
    =image_tag 'sandy.jpg', class: :fancy
    %p
      The Mother of the bride, Sandy.

  .bio
    =image_tag 'terry_and_yvette.jpg', class: :fancy
    %p
      The Father and Stepmother of the bride, Terry and Yvette.

  .bio
    %img{src: placeholder, class: :fancy}
    %p
      The Mother and Father of the groom, Tom and Jane.

.bio-row
  .bio
    %img{src: placeholder, class: :fancy}
    %p
      The Bostek-Salazars: Jennifer, her husband Lou, and their kids Rosie and Sid.

  .bio
    =image_tag 'szymczaks.jpg', class: :fancy
    %p
      The Szymczaks: Sumer, her husband Eric, Nate's wife Kristen, Nate, Tatum, and Sumer and Eric's sons Ryder and Roenick.