.welcome-img
  =image_tag 'tatum_and_leslie.jpg', class: 'wrap fancy'

.welcome-body
  %p.lead.subheader
    We can't wait til our wedding day. . .  and having you there with us!
  %p
    We will have a very casual ceremony and reception at the Chanute Aquatorium on Lake Michigan in northwest Indiana.

