%h1 What to Bring

%p
  Our wedding ceremony and reception will be casual.

%p
  The temperature could be anywhere from the high 50s in the evening to the low 80s during the day and the wedding and reception will be on the lake which makes it a bit cooler... Watch the
  = link_to 'weather forecast for 46403', 'http://www.weather.com/weather/today/Gary+IN+46403:4:US', target: "_blank"
  and perhaps bring a sweater!

Other than that, just bring yourselves!