/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

// $visual-grid: true;
// $visual-grid-color: #FF0000;


$body-font: 'Antic Didone', serif;
$heading-font: 'Dancing Script', cursive;
$special-red: #d61835;

$primary-color: #53bcd4;
$hover-color:#d61835;


  @import "bourbon";
  @import "neat";

  @import "foundation/foundation";
  @import "layout";


  @import "type";
  @import "pages";
  @import "errors";
  @import "bs-tables";
  @import "bs-styles";
  @import "fancybox/source/jquery.fancybox.css";


