$primary-color: #53bcd4;
$hover-color:#d61835;

ul{
  list-style: none;
}



.action input{
  @include button;
}


.navigation {

  a{
    display: block;
    color: $primary-color;;
    padding: 12px 20px 12px 20px;
    border-color: $primary-color;
    border-bottom: 1px dotted;
  }
  a:hover{
    color:$hover-color;
    border-color: $primary-color;
  }

  ul li{

  }
}


img{
  // padding: .5em .5em 3em .5em;

  // @include box-shadow(0 0 7px 3px hsla(0, 0%, 0%, 0.25));
}


#map{

  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
  @include box-shadow(1px 1px 0px 0px hsla(0, 0%, 0%, 0.10));


  padding:5px;
  border:1px solid #ccc;

  background: #58B;
  display: block;
  height:400px



}

img{
  padding:5px;
  border:1px solid #ccc;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);

  @include box-shadow(0 0 1px 1px hsla(0, 0%, 0%, 0.10));
}