
div.container-row {
  @include outer-container;

  .navigation {
    @include span-columns(3);
  }

  .content-body {
    @include span-columns(9);

    .bio-row {
      overflow: auto;
      .bio {
        @include span-columns(4);
        @include omega(3n);
      }
    }

  }

}

.login-section{
  @include span-columns(6);
  @include shift(3);
  text-align: center;

  button a{
    color:white;
  }
}



.wrapper{
  @include background-image(  linear-gradient(hsla(0, 100%, 100%, 0.25) 0%, hsla(0, 100%, 100%, 0.08) 20%, transparent 80%),
                              linear-gradient($primary-color, darken($primary-color, 4%)));
  @include box-shadow(0px 0px 0px 2px hsla(0, 10%, 10%, 0.20));
}


.flower{
  position: absolute;
  @include background-image(image-url('flower2.png'));
  background-repeat: no-repeat;
  height:170px;
  width:100%;
}

.wrapper{
  position: absolute;
  height:100px;
  width:100%;
}

.alert, .navigation, .heading-row{
  position: relative;
  z-index: 1;
}

.login button{
  a{ color:white; }
}

body {
  margin:0;
  background-image: image-url('bg.png');
}

.body {
    margin-top: 3.5em;
}

ul{
  list-style: none;
}



.action input{
  @include button;
}


.navigation {

  a{
    display: block;
    color: $primary-color;;
    padding: 12px 20px 12px 20px;
    border-color: $primary-color;
    border-bottom: 1px dotted;
  }
  a:hover{
    color:$hover-color;
    border-color: $primary-color;
  }

  ul li{

  }
}


.navigation li.current a{
  color:$special-red;
  border-color: $primary-color;
}


#gmap img{max-width: inherit;}

#gmap {
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
  @include box-shadow(1px 1px 0px 0px hsla(0, 0%, 0%, 0.10));

  padding:5px;
  border:1px solid #ccc;

  background: #58B;
  display: block;
  height:400px;
  width:100%;

}

img.fancy {
  padding:5px;
  border:1px solid #ccc;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
  @include box-shadow(0 0 1px 1px hsla(0, 0%, 0%, 0.10));
}




.alert-box{
  margin-top:3em;
}