=javascript_include_tag 'google_analytics'
%hr
%footer
  %p
    © Tatum & Leslie
    = Date.today.year
  %p

    -if current_user
      Logged in as:
      = current_user.full_name + " | "
      = link_to 'Logout', logout_path(current_user), method: :delete
