%ul
  =nav_link 'Welcome', welcome_path
  =nav_link 'Our Story', our_story_path
  =nav_link 'Ceremony & Reception', ceremony_and_reception_path
  =nav_link 'Wedding Party and Family', wedding_party_and_family_path
  =nav_link 'Directions', directions_path
  =nav_link 'Accommodations', accommodations_path
  =nav_link 'Local Activities', local_activities_path
  =nav_link 'Registry', gifts_path
  =nav_link 'Partners in Crime', partners_in_crime_path
  =nav_link 'FAQ', faq_path
